.header {
  background-color: white;
}

.header h1 {
  color: var(--green);
  cursor: default;
  margin: 0;
  margin-left: 10%;
  padding: 5px;
}

@media(max-width: 1024px) {
  .header h1 {
    text-align: center;
    margin-left: 0;
  }
}